<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>emoticon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0C85FAE1B4CD51100435F81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0C85FC21B4CD51100435F81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0C85FCD1B4CD51100435F81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
